header {
    font-size: 4em;
    background-color: blue;
    color: gold;
    padding: 1em 0em 1em 2em;
}

header a {
    text-decoration: none;
    color: gold;
}

h2 {
    font-size: 3em;
}

div#trail {
    margin: 0em 0em 0em 5em;
}

div#top {
    font-size: 2em;
    margin: 0em 2.5em 1em 2.5em;
    padding: 0.5em 0em 0.5em 1em;
    border: 0.23em solid blue;
}

div#top a {
    border: 0.2em solid blue;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0em 1em 0em 0em;
    background-color: blue;
    color: gold;
    float: left;
}

div#top fieldset {
    border: 0em;
}

div#top input {
    font-size: 1em;
}

div#top input#search {
    width: 30em;
}

div#left {
    float: left;
    border: 0.5em solid blue;
    width: 15em;
    margin: 0em 0em 0em 5em;
    padding: 1em;
    height: 70em;
}

div#left li {
    font-size: 2em;
    margin: 0.5em 0em 0em 0em;
}

div#left img {
    margin: 3em 0em 3em 0em;
}

div#right {
    border: 0.5em solid blue;
    margin: 0em 5em 0em 25em;
    padding: 1em;
    height: 70em;
}

div#right img {
    margin: auto;
    margin-top: 5em;
    width: 50%;
}

div#login,
div#signup {
    font-size: 2em;
    margin: 0em 0em 0em 2em;
}

div#login fieldset,
div#signup fieldset {
    border: 0em;
}

div#login input,
div#signup input {
    font-size: 1em;
}

footer {
    font-size: 1em;
    background-color: blue;
    color: gold;
    padding: 1em;
    margin-top: 1em;
}