div#right {
    border: 0.5em solid blue;
    margin: 0em 5em 0em 25em;
    padding: 1em;
    height: 70em;
    overflow: scroll;
}

#content {
    border-radius: 1em;
    font-size: 2em;
    /* display: table-cell; */
    /* vertical-align:middle; */
    /* text-align:center; */
    /* width:20%; */
    color: gold;
    /* height:auto; */
    background-color: blue;
    /* border: 0.2em solid blue; */
    padding: 0.5em;
    line-height: 3em;

}

div#tag {
    /* background-color: blue; */
}

div#tag a {
    /* margin: 5em 1em 5em 1em;
    
    
    width: 100%;
    white-space: nowrap;
    background-color: blue; */
    overflow: scroll;
    font-size: 2em;
    text-decoration: none;
    border: 0.2em solid blue;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0em 1em 0em 0em;
    background-color: blue;
    color: gold;
}

div#right img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    width: 70%;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}

div#right div#article ol {
    font-size: 2em;
    line-height: 2em;
}