div#right {
    border: 0.5em solid blue;
    margin: 0em 5em 0em 25em;
    padding: 1em;
    height: 70em;
}

div#right img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    width: 70%;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}

div#reset {
    font-size: 2em;
    margin: 0em 0em 0em 2em;
}

div#reset fieldset{
    border: 0em;
}

div#reset input {
    font-size: 1em;
}
